.nav {
  width: 100%;
  background-color: #553d67;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  .logo {
    text-transform: uppercase;
    color: rgb(240, 240, 240);
  }

  .links {
    color: rgb(240, 240, 240);

    a {
      cursor: pointer;
    }

    ul {
      li {
        display: inline;
        margin: 0 1.5rem;
        text-transform: uppercase;

        a {
          &:hover {
            color: #f64c72;
            transition: all 0.2s ease;
          }
        }
      }
    }
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .hamburger {
    display: none;
    div {
      background-color: white;
      height: 3px;
      width: 40px;
    }

    div:nth-child(2) {
      margin: 7px 0;
    }
    @media only screen and (max-width: 600px) {
      display: unset;
    }
  }

  .sideToolBar {
    display: none;
    position: absolute;
    background-color: white;
    width: 60%;
    height: 100vh;
    z-index: 3;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    ul {
      list-style-type: none;

      li {
        display: block;
        padding: 1rem 0;
        border-bottom: 1px solid pink;
        font-size: 20px;
      }
    }
  }
  .sideToolBarConf {
    display: unset;
    transform: translateX(0);
  }

  .removeNav {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.199);
    z-index: 2;
  }
}
